.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.font-size-sm {
  font-size: 12px;
}

.font-weight-bold {
  font-weight: bold;
}

.pull-right {
  float: right;
}

.text-center{
  text-align: center;
}

.min-height-30{
  min-height: 30px;
}
